<div class="container-fluid h-100">
    <div class="row">
        <%= link_to "Profile", edit_user_path(@user)%>
    </div>
    <div class="row h-100" id="map"></div>
    <div class="row">
    </div>
</div>


<%= javascript_include_tag 'map' %>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GMAP_KEY']%>&callback=initMap">
</script>
    
