<div class="container-fluid h-100">
    <div class="row align-items-center h-50 mx-auto">
        <div class="border shadow jumbotron jumbotron-fluid bg-transparent text-center w-100">
            <div class="container-fluid">
                <h1 class="display-2">One Button Meet</h1>
                <p class="h1">Meetups Made Easy</p>
                <div class="btn-group-vertical w-50">
                    <%= link_to "Sign Up", signup_path, class: "shadow btn btn-primary btn-round btn-lg mb-4"%>
                    <%= link_to "Sign In", signin_path, class: "shadow btn btn-light btn-round btn-lg"%>
                </div>
            </div>
        </div>
    </div>
</div>